<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
<meta name="keywords" content="Bootstrap Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../../static/js/jquery-1.11.0.min.js"></script>
<link href="../../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<meta charset="UTF-8">
<link href="../../static/css/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
	<!--start-header-->
			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
							<div class="logo">
								<a href="/home"><img src="../../static/images/logo.png" alt=""></a>
							</div>
							<!--start-top-nav-->
							 <nav class="top-nav">
								<ul>
									<li class="active"><a class="play-icon popup-with-zoom-anim" href="#small-dialog">用户信息</a></li>
									<li><a class="play-icon popup-with-zoom-anim" href="/">退出登录</a></li>
								</ul>
							</nav>
							<div class="clearfix"> </div>
						</div>
				</div>
			<!---pop-up-box---->
					  <script type="text/javascript" src="../../static/js/modernizr.custom.min.js"></script>
					<link href="../../static/css/popup-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="../../static/js/jquery.magnific-popup.js" type="text/javascript"></script>
					<!---//pop-up-box---->
		<!--End-header-->
		<div class="navgation">
					<div class="menu">
                         <a class="toggleMenu" href="#"><img src="../../static/images/menu-icon.png" alt="" /> </a>
							<ul class="nav" id="nav">
							<li><a href="/home">主页</a></li>
							<li><a href="/xuanze">数据监控</a></li>
							<li><a href="/404">数据分析</a></li>
							<li><a href="/ask" class="active">农业知识</a></li>
							<li><a href="/content">联系我们</a></li>
							</ul>
                            <!----start-top-nav-script---->
		                     <script type="text/javascript" src="../../static/js/responsive-nav.js"></script>
							<script type="text/javascript">
							jQuery(document).ready(function($) {
								$(".scroll").click(function(event){		
									event.preventDefault();
									$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
								});
							});
							</script>
							<!----//End-top-nav-script---->
					</div>
					<div class="search2">
					  <form>
						  <a href="https://www.baidu.com/">
						 <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
						 <input type="submit" value="">
							  </a>
					  </form>
					</div>
					<div class="clearfix"> </div>
		</div>
		</div>
		<!--starts-blog-->
		<div class="blog">
			<div class="container">
				<div class="blog-main">
					<div class="col-md-8 blog-main-left">
						<h3>种类分支</h3>
						<div class="blg">
							<div class="col-md-4 blog-left">
								<a href=""><img src="../../static/images/ape.jpg" alt=""></a>
							</div>
							<div class="col-md-8 blog-left">
								<h5>水果类种植</h5>
								<span>摘自农业知识网</span>
								<p>促花要使果树早开花，必须在结果前一年，控制树势的营养生长，促使生长中心转向生殖生长，促进花芽分化；秋季注意排水、控水，并切断部分根系，造成植株生理干旱，以促进花芽分化；增加树体营养，加强肥水管理，尽量地保留叶片，防止不正常落叶；2、控制花量，疏掉那些畸形花和过密较多的花。</p>
								<div class="blog-btn">
									<a href="https://www.nongyezhishi.com/">了解更多</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blg">
							<div class="col-md-4 blog-left">
								<a href=""><img src="../../static/images/vt.jpg" alt=""></a>
							</div>
							<div class="col-md-8 blog-left">
								<h5>谷物类种植</h5>
								<span>摘自农业知识网</span>
								<p>禾谷类种植作物一般可以连作，但谷子不宜重茬，要轮作和时长整地，播种前精细整地，是保证禾谷类作物苗早、苗全、苗壮、苗匀的有效措施；禾谷类作物的种植密度差别很大，密植作物如小麦、水稻、谷子等密度大，而中耕作物如玉米、高梁等密度较小；合理施肥的原则是以有机肥为主，化肥为辅；基肥为主，追肥为辅。</p>
								<div class="blog-btn">
									<a href="https://www.nongyezhishi.com/">了解更多</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blg">
							<div class="col-md-4 blog-left">
								<a href=""><img src="../../static/images/dapeng1.jpg" alt="" width="235" height="260"></a>
							</div>
							<div class="col-md-8 blog-left">
								<h5>大棚种植</h5>
								<span>摘自农业知识网</span>
								<p>
									随着高分子聚合物－聚氯乙烯、聚乙烯的产生，塑料薄膜广泛应用于农业。日本及欧美国家于50年代初期应用温室薄膜覆盖温床获得成功，随后又覆盖小棚及温室也获得良好效果。我国于1955年秋引进聚氯乙烯农用薄膜，首先在北京用于小棚覆盖蔬菜，获得了早熟增产的效果。大棚原是蔬菜生产的专用设备，随着生产的发展大棚的应用越加广泛。
								</p>
								<div class="blog-btn">
									<a href="https://www.nongyezhishi.com/">了解更多</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-4 blog-main-left">
						<h3>农业新闻</h3>
						<div class="ctgry">
						<ul>
							<li><a href="https://www.nongyezhishi.com/news/toutiao/388997.html">财政部：10省份特色农产品保险将获中央财政保费补贴</a></li>
							<li><a href="https://www.nongyezhishi.com/news/toutiao/388991.html">不看广告看“出身”，食品可追溯能否带来更多安全感？</a></li>
							<li><a href="https://www.nongyezhishi.com/news/toutiao/388957.html">养殖水产占比提高 水产饲料成新蓝海</a></li>
							<li><a href="https://www.nongyezhishi.com/news/toutiao/388911.html">高温来袭，植物也会得“癌症”？要当心了！</a></li>
							<li><a href="https://www.nongyezhishi.com/news/zc/388986.html">中华人民共和国农业农村部公告 第186号</a></li>
						</ul>
						</div>
						<div class="archives">
							<h3>农业预报</h3>
						<ul>

							<li><a href="http://www.nmc.cn/">7月17日：未来三天全国天气预报</a></li>
							<li><a href="http://www.nmc.cn/">7月13日：未来三天全国天气预报</a></li>
							<li><a href="http://www.nmc.cn/">7月9日：未来三天全国天气预报</a></li>
							<li><a href="http://www.nmc.cn/">7月5日：未来三天全国天气预报</a></li>
							<li><a href="http://www.nmc.cn/">7月1日：未来三天全国天气预报</a></li>
						</ul>
						</div>
						<div class="search">
							<h3></h3>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-bottom">
					<ul>
						<li><a href="#" class="active">开始</a></li>
						<li><a href="#" class="active">1</a></li>
						<li><a href="/ask2">2</a></li>
						<li><a href="/ask3">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">14</a></li>
						<li><a href="#">15</a></li>
						<li><a href="#" class="active">下一个</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--end-blog-->
		 <div class="footer">
                         <div class="container">
                                    <div class="footer-text">
										<p></p>
									</div>
                         </div>
					<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
     </div>
</body>
</html>