<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
<meta name="keywords" content="Bootstrap Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../../static/js/jquery-1.11.0.min.js"></script>
<link href="../../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<meta charset="UTF-8">
<link href="../../static/css/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
	<!--start-header-->
			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
							<div class="logo">
								<a href="/home"><img src="../../static/images/logo.png" alt=""></a>
							</div>
							<!--start-top-nav-->
							 <nav class="top-nav">
								<ul>
									<li class="active"><a class="play-icon popup-with-zoom-anim" href="#small-dialog">用户信息</a></li>
									<li><a class="play-icon popup-with-zoom-anim" href="/">退出登录</a></li>
								</ul>
							</nav>
							<div class="clearfix"> </div>
						</div>
				</div>
			<!---pop-up-box---->
					  <script type="text/javascript" src="../../static/js/modernizr.custom.min.js"></script>
					<link href="../../static/css/popup-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="../../static/js/jquery.magnific-popup.js" type="text/javascript"></script>
					<!---//pop-up-box---->
		<!--End-header-->
		<div class="navgation">
					<div class="menu">
                         <a class="toggleMenu" href="#"><img src="../../static/images/menu-icon.png" alt="" /> </a>
							<ul class="nav" id="nav">
							<li><a href="/home">主页</a></li>
							<li><a href="/xuanze">数据监控</a></li>
							<li><a href="/404">数据分析</a></li>
							<li><a href="/ask" class="active">农业知识</a></li>
							<li><a href="/content">联系我们</a></li>
							</ul>
                            <!----start-top-nav-script---->
		                     <script type="text/javascript" src="../../static/js/responsive-nav.js"></script>
							<script type="text/javascript">
							jQuery(document).ready(function($) {
								$(".scroll").click(function(event){		
									event.preventDefault();
									$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
								});
							});
							</script>
							<!----//End-top-nav-script---->
					</div>
					<div class="search2">
					  <form>
						  <a href="https://www.baidu.com/">
						 <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
						 <input type="submit" value="">
							  </a>
					  </form>
					</div>
					<div class="clearfix"> </div>
		</div>
		</div>
		<!--starts-blog-->
		<div class="blog">
			<div class="container">
				<div class="blog-main">
					<div class="col-md-8 blog-main-left">
						<h3>种类分支</h3>
						<div class="blg">
							<div class="col-md-4 blog-left">
								<a href=""><img src="../../static/images/茭白.jpg" alt="" style="height: 250px"></a>
							</div>
							<div class="col-md-8 blog-left">
								<h5>蔬菜种植--茭白</h5>
								<span>摘自三农网</span>
								<p>众所周知，茭白分为单季茭和双季茭，双季茭栽培产量较高，春季亩产量1000-125公斤，秋季产量1000公斤，亩产值400-4500元，经济效益显著。那么，反季节栽培茭白技术有哪些?种植7天后，当膜内温度高于30摄氏度时，必须对膜进行通风以防止烧苗，并且应将通风至傍晚，并在其他时间覆盖薄膜以促进茭白生长。</p>
								<div class="blog-btn">
									<a href="https://www.zg3n.com.cn/zhongzhi/shucai/">了解更多</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blg">
							<div class="col-md-4 blog-left">
								<a href=""><img src="../../static/images/秋葵.jpg" alt="" style="height: 250px"></a>
							</div>
							<div class="col-md-8 blog-left">
								<h5>蔬菜种植--秋葵</h5>
								<span>摘自三农网</span>
								<p>秋葵现在在我国越来越受欢迎，不仅仅是因为其营养丰富，还有一部分原因是由于秋葵的口感非常独特，吃起来的感觉让人非常舒服。现在随着市场需求的增加，也有越来越多的人打算规模种植秋葵。不过秋葵是有着一定的环境要求，下面小编就为大家带来了秋葵生长对环境条件的一些具体的要求，让我们一起来看看吧！</p>
								<div class="blog-btn">
									<a href="https://www.zg3n.com.cn/article-78434-1.html">了解更多</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blg">
							<div class="col-md-4 blog-left">
								<a href=""><img src="../../static/images/羊肚菌.jpg" alt="" width="235" height="260"></a>
							</div>
							<div class="col-md-8 blog-left">
								<h5>蔬菜种植--羊肚菌</h5>
								<span>摘自三农网</span>
								<p>
									羊肚菌的菌种性能与其它食用菌不同，菌种分离方法和育种手段及栽培管理技术与其它食用菌也有很大差异。最大的缺点就是容易退化、变异、生霉。这对栽培羊肚菌带来很大困难。对此，首先要控制菌种传代，无论母种、原种、栽培种，若违反技术要求，多传一代就会出现上述不良反应或不长子实体。母种只能经过原种栽培种，到栽培中的一次流程和3次破菌愈合才能保住质量;若超过3次菌丝断裂而重新萌发的新菌丝，会失去或降低酶的分解作用，以致抗病力差，易生杂菌，不出菇。
								</p>
								<div class="blog-btn">
									<a href="https://www.zg3n.com.cn/article-76982-1.html">了解更多</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-4 blog-main-left">
						<h3>农业新闻</h3>
						<div class="ctgry">
						<ul>
							<li><a href="https://www.zg3n.com.cn/article-103123-1.html">推广黑膜覆土技术东乡群众增收走“薯”道</a></li>
							<li><a href="https://www.zg3n.com.cn/article-103121-1.html">化肥定额制能走多远？</a></li>
							<li><a href="https://www.zg3n.com.cn/article-101665-1.html">即日起，这3种农药在蔬菜上禁用！这些企业将被吊销农药登记证？</a></li>
							<li><a href="https://www.zg3n.com.cn/article-92730-1.html">农药销售，这些坑可以避开</a></li>
							<li><a href="https://www.zg3n.com.cn/article-103116-1.html">8月起农药电子标签改版了</a></li>
						</ul>
						</div>
						<div class="archives">
							<h3>农业预报</h3>
						<ul>

							<li><a href="http://www.nmc.cn/">8月13日：未来三天全国天气预报</a></li>
							<li><a href="http://www.nmc.cn/">8月15日：未来三天全国天气预报</a></li>
							<li><a href="http://www.nmc.cn/">8月06日：未来三天全国天气预报</a></li>
							<li><a href="http://www.nmc.cn/">8月19日：未来三天全国天气预报</a></li>
							<li><a href="http://www.nmc.cn/">8月20日：未来三天全国天气预报</a></li>
						</ul>
						</div>
						<div class="search">
							<h3></h3>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-bottom">
					<ul>
						<li><a href="#" class="active">开始</a></li>
						<li><a href="/ask" >1</a></li>
						<li><a href="#" class="active">2</a></li>
						<li><a href="/ask3">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">14</a></li>
						<li><a href="#">15</a></li>
						<li><a href="#" class="active">下一个</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--end-blog-->
		 <div class="footer">
                         <div class="container">
                                    <div class="footer-text">
										<p></p>
									</div>
                         </div>
					<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
     </div>
</body>
</html>