<!DOCTYPE html>
<html>
<head>
<title>Blog</title>
<meta name="keywords" content="Bootstrap Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../../static/js/jquery-1.11.0.min.js"></script>
<link href="../../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<meta charset="UTF-8">
<link href="../../static/css/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
	<!--start-header-->
			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
							<div class="logo">
								<a href="/home"><img src="../../static/images/logo.png" alt=""></a>
							</div>
							<!--start-top-nav-->
							 <nav class="top-nav">
								<ul>
									<li class="active"><a class="play-icon popup-with-zoom-anim" href="#small-dialog">用户信息</a></li>
									<li><a class="play-icon popup-with-zoom-anim" href="/">退出登录</a></li>
								</ul>
							</nav>
							<div class="clearfix"> </div>
						</div>
				</div>
			<!---pop-up-box---->
					  <script type="text/javascript" src="../../static/js/modernizr.custom.min.js"></script>
					<link href="../../static/css/popup-box.css" rel="stylesheet" type="text/css" media="all"/>
					<script src="../../static/js/jquery.magnific-popup.js" type="text/javascript"></script>
					<!---//pop-up-box---->
		<!--End-header-->
		<div class="navgation">
					<div class="menu">
                         <a class="toggleMenu" href="#"><img src="../../static/images/menu-icon.png" alt="" /> </a>
							<ul class="nav" id="nav">
							<li><a href="/home">主页</a></li>
							<li><a href="/xuanze">数据监控</a></li>
							<li><a href="/404">数据分析</a></li>
							<li><a href="/ask" class="active">农业知识</a></li>
							<li><a href="/content">联系我们</a></li>
							</ul>
                            <!----start-top-nav-script---->
		                     <script type="text/javascript" src="../../static/js/responsive-nav.js"></script>
							<script type="text/javascript">
							jQuery(document).ready(function($) {
								$(".scroll").click(function(event){		
									event.preventDefault();
									$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
								});
							});
							</script>
							<!----//End-top-nav-script---->
					</div>
					<div class="search2">
					  <form>
						  <a href="https://www.baidu.com/">
						 <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
						 <input type="submit" value="">
							  </a>
					  </form>
					</div>
					<div class="clearfix"> </div>
		</div>
		</div>
		<!--starts-blog-->
		<div class="blog">
			<div class="container">
				<div class="blog-main">
					<div class="col-md-8 blog-main-left">
						<h3>种类分支</h3>
						<div class="blg">
							<div class="col-md-4 blog-left">
								<a href=""><img src="../../static/images/积雪草.jpg" alt="" style="height: 250px"></a>
							</div>
							<div class="col-md-8 blog-left">
								<h5>花卉种植--积雪草</h5>
								<span>摘自三农网</span>
								<p>积雪草是一种多年生草本植物，它的外形极为奇特，是我们生活中常见的一种观叶植物，很多人喜欢养殖它。同时它的全草可入药，具有清热利湿、消肿解毒的功效，随着种植它的人越来越多，它的繁殖方法也受到人们的关注。那么积雪草该怎么繁殖呢？一起来了解了解吧。</p>
								<div class="blog-btn">
									<a href="https://www.zg3n.com.cn/article-78433-1.html">了解更多</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blg">
							<div class="col-md-4 blog-left">
								<a href=""><img src="../../static/images/薄荷.jpg" alt="" style="height: 250px"></a>
							</div>
							<div class="col-md-8 blog-left">
								<h5>药材种植--薄荷</h5>
								<span>摘自百度百科</span>
								<p>现在很多家庭都喜欢种植一些小植物来美化室内的环境或者清新室内的空气，但由于在室内种植有空气、阳光、土壤、水分等条件的限制，很多小植物在室内无法培养种植。相比来说，薄荷作为一种具有观赏作用还有药用价值并且可食用的植物在家里养起来还是相当方便简单的了，下面我们就一起来看一下关于薄荷的种植方法吧。</p>
								<div class="blog-btn">
									<a href="https://baijiahao.baidu.com/s?id=1607105031550459255&wfr=spider&for=pc">了解更多</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blg">
							<div class="col-md-4 blog-left">
								<a href=""><img src="../../static/images/人参.jpg" alt="" width="235" height="260"></a>
							</div>
							<div class="col-md-8 blog-left">
								<h5>药材种植--人参</h5>
								<span>摘自花百科</span>
								<p>
									人参是草本植物的一类。它在我国，主要分布在东北地区。在国外也有，比如日本、韩国、俄罗斯等。它的根的长度在三十至六十厘米，非常肥厚，是肉质的。它的茎直立。它的叶片是掌状的，长度是四至十五厘米，宽度则是二至六点五厘米，边缘有锯齿。用播种法，这是生产上一种最主要的方式的。在春季的三月或者四月比较合适，在温室内进行最好。


								</p>
								<div class="blog-btn">
									<a href="https://www.huabaike.com/jtyh/27637.html">了解更多</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-4 blog-main-left">
						<h3>农业新闻</h3>
						<div class="ctgry">
						<ul>
							<li><a href="https://www.zg3n.com.cn/article-103122-1.html">如何实现简易、快速、准确地科学施肥？</a></li>
							<li><a href="https://www.zg3n.com.cn/article-101670-1.html">国内需求持续减少尿素价格有所下跌</a></li>
							<li><a href="https://www.zg3n.com.cn/article-101657-1.html">我国最大钾肥生产基地产销两旺</a></li>
							<li><a href="https://www.zg3n.com.cn/article-102924-1.html">大棚黄瓜施底肥三个误区莫忽视</a></li>
							<li><a href="https://www.zg3n.com.cn/article-102915-1.html">用于智能微灌系统应用的新型含硼水溶肥问世</a></li>
						</ul>
						</div>
						<div class="archives">
							<h3>农业预报</h3>
						<ul>

							<li><a href="http://www.nmc.cn/">9月17日：未来三天全国天气预报</a></li>
							<li><a href="http://www.nmc.cn/">9月13日：未来三天全国天气预报</a></li>
							<li><a href="http://www.nmc.cn/">9月07日：未来三天全国天气预报</a></li>
							<li><a href="http://www.nmc.cn/">9月05日：未来三天全国天气预报</a></li>
							<li><a href="http://www.nmc.cn/">9月01日：未来三天全国天气预报</a></li>
						</ul>
						</div>
						<div class="search">
							<h3></h3>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-bottom">
					<ul>
						<li><a href="#" class="active">开始</a></li>
						<li><a href="/ask">1</a></li>
						<li><a href="/ask2">2</a></li>
						<li><a href="#" class="active">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">...</a></li>
						<li><a href="#">14</a></li>
						<li><a href="#">15</a></li>
						<li><a href="#" class="active">下一个</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!--end-blog-->
		 <div class="footer">
                         <div class="container">
                                    <div class="footer-text">
										<p></p>
									</div>
                         </div>
					<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
     </div>
</body>
</html>