<!DOCTYPE html>
<html>
<head>
<title>联系我们</title>
<meta name="viewport" content="width=device-width, initial-scale=1">	
<meta name="keywords" content="Bootstrap Responsive Templates, Iphone Compatible Templates, Smartphone Compatible Templates, Ipad Compatible Templates, Flat Responsive Templates"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="../../static/js/jquery-1.11.0.min.js"></script>
	<meta charset="UTF-8">
<link href="../../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="../../static/css/style.css" rel='stylesheet' type='text/css' />
</head>
<body>
	<!--start-header-->
			<div id="home" class="header">
					<div class="top-header">
						<div class="container">
							<div class="logo">
								<a href="/home"><img src="../../static/images/logo.png" alt=""></a>
							</div>
							<!--start-top-nav-->
							 <nav class="top-nav">
								<ul>
									<li class="active"><a class="play-icon popup-with-zoom-anim" href="#small-dialog">用户信息</a></li>
									<li><a class="play-icon popup-with-zoom-anim" href="/">退出登录</a></li>
								</ul>
							</nav>
							<div class="clearfix"> </div>
						</div>
				</div>
		<div class="navgation">
					<div class="menu">
                         <a class="toggleMenu" href="#"><img src="../../static/images/menu-icon.png" alt="" /></a>
							<ul class="nav" id="nav">
							<li><a href="/home">主页</a></li>
							<li><a href="/xuanze">数据监控</a></li>
							<li><a href="/404">数据分析</a></li>
							<li><a href="/ask">农业知识</a></li>
							<li><a href="/content" class="active">联系我们</a></li>
							</ul>
                            <!----start-top-nav-script---->
		                     <script type="text/javascript" src="../../static/js/responsive-nav.js"></script>
							<script type="text/javascript">
							jQuery(document).ready(function($) {
								$(".scroll").click(function(event){		
									event.preventDefault();
									$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
								});
							});
							</script>
							<!----//End-top-nav-script---->
					</div>
					<div class="search2">
					  <form>
						  <a href="https://www.baidu.com/">
						 <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}"/>
						 <input type="submit" value="">
							  </a>
					  </form>
					</div>
					<div class="clearfix"> </div>
		</div>
		</div>
		<!--contact-starts-->
		<div class="contact">
			<div class="container">
				<div class="contact-top">
					<h3>我们的位置</h3>
                    <h4 style="margin-top: 200px">物联网协会</h4>
					<P style="margin-top: 20px"><img src="../../static/images/school.jpg" alt="" align="center" width="1100" ></P>
                    <h3 style="margin-top: 50px">我们的的电子邮箱</h3>
                    <p style="text-align:center; text-decoration:blink; text-indent:50px;height:250px;padding-top: 30px;
 text-transform:capitalize; font:bold 50px 楷体; ">123-123-123@163.com</p>

				</div>
				</div>
			</div>
        <div class="contact" margin="20">
				<div class="contact-top">
					<h3></h3>
					<P align="center"></P>
				</div>
			</div>

</body>
</html>