<!DOCTYPE html>
<html>
	<head>
		<title>智慧农业数据监控中心</title>
		<meta charset="utf-8">
        <style>
            body{
                background: url("../../static/images/53.jpg") no-repeat center;
                 -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
        </style>
	</head>
	<body>




		<div style="text-align:center; text-decoration:blink; text-indent:50px;height:250px;padding-top: 100px;
 text-transform:capitalize;color:#FBF90D; font:bold 100px 楷体; " >
			智慧农业数据监控中心<a name='aaa'></a>
		</div>



		<div style="height:550px;overflow:hidden;">
			<table border='0'>
				<tr height='540px' >
					<td width='950px' align=center>
						<a href='xuanze/shujujiankong'><img src="../../static/images/ff.jpg" width=200px height=200px alt='数据监控'></img></a>
						<a href='xuanze/shujujiankong' style="text-decoration:none"><h1><font color='#00BFFF'>数据监控</font></h1></a>
					</td>
					<td width='950px' align=center>
						<a href='xuanze/shujuchaxun' ><img src="../../static/images/jing.jpg" width=200px height=200px alt='数据查询'></img></a>
						<a href='xuanze/shujuchaxun' style="text-decoration:none" ><h1><font color='#00BFFF'>数据查询</font></h1></a>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
